/* hotels */
.one-hotel-container {
    padding: 40px 0;
    background-color:#f2f2f0;
}

.one-hotel {
    width: 80%;
    margin: auto;
}

.one-hotel-text {
    padding-bottom: 50px;
}

.one-hotel-text h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.one-hotel img {
    max-height: 250px;
    object-fit: cover;
    border-radius: 20px;
}









.hotels {
    padding-bottom: 50px;
    margin: 0 auto;
}


.hotel {
    border: 1px solid #F4F6F8;
    border-radius: 6px;
    height: 235px;
    margin-top: 50px;
}

.hotel a {
	color: black;
}

.hotel img {
    height: 140px;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.hotel-text {
    margin: 8px;
}

.hotel-text p {
    font-size: 12px;
    color: #767676;
    margin-bottom: 5px;
}

.hotel-text h4 {
    font-size: 17px;
    font-weight: 600;
}







/*single hotel post */

.single-hotel {
    padding: 70px 0;
}

.single-hotel-title {
    font-size: 36px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.single-hotel-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.single-hotel-about {
    margin-top: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.single-hotel-text h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.sinle-hotel-map {
    
}

